<%- include ('./partials/header.ejs') %>
<body>
    <%- include ('./partials/navbar.ejs') %>
    <div class="container">

        <h1>Perguntar</h1>
        <a href="/perguntar" class="btn btn-primary">Perguncar</a>
        <hr>
        <% perguntas.forEach(pergunta => { %>
            <br>
            <div class="card">
                <div class="card-body">
                    <p><%=pergunta.title %> </p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary">Responder</button>
                </div>
            </div>
            
      <%  }) %>
    </div>
    <hr>
</body>
<%- include ('./partials/footer.ejs') %>
